
<form id="form_comment" method="PATCH">
<h1 id="rsid">{{this.id}}</h5>
<h5 id="name">recipe name: {{this.name}}</h5>

ingredients:<ul id="ingss">
{{#each this.ingss as |ingss|}}
  <li>
    <h5>name: {{ingss.name}}:</h5> 
    <h5>quantity: {{ingss.quantity}}</h5>
  </li>
{{/each}}
</ul>

<h5 id="servings">servings: {{this.servings}}</h5>
<h5 id="chef">chef: {{this.chef}}</h5>
<h5 id="time">time: {{this.time}} minutes</h5>

steps:<ol id="step">
{{#each this.steps as |step|}}
  <li>
    {{step.}}
  </li>
{{/each}}
</ol>

comments:<ol id="comments">
{{#each this.comments as |comment|}}
  <li>
    {{comment.}}
  </li>
{{/each}}
</ol>
    <input type = "text" name = "comment" id = "comment"><br>
    <input type = "submit" value = "submit" id="submitComment"/><br>
</form>
<script type = "text/javascript" src = "/public/recipeInfo.js"></script>