
<form id="form_comment" method="PATCH">
<h1 id="rsid">{{this.id}}</h1>
<h5 id="name">recipe name: {{this.name}}</h5>

ingredients:<ul id="ingss">
{{#each this.ingss as |ingss|}}
  <li>
    <h5>name: {{ingss.name}}</h5> 
    <h5>quantity: {{ingss.quantity}}</h5>
  </li>
{{/each}}
</ul>

<h5 id="servings">servings: {{this.servings}}</h5>
<h5 id="chef">chef: {{this.chef}}</h5>
<h5 id="time">time: {{this.time}} minutes</h5>

steps:<ol id="step">
{{#each this.steps as |step|}}
  <li>
    {{step.}}
  </li>
{{/each}}
</ol>

comments:<ol id="comments">
{{#each this.comments as |comment|}}
  <li>
    <h5>username: {{comment.username}}</h5> 
    <h5>comment: {{comment.comment}}</h5>
  </li>
{{/each}}
</ol>
    <input type = "text" name = "comment" id = "comment"><br>
    <input type = "submit" value = "submit" id="submitComment"/><br>

<div id="share-buttons">

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>

  <!-- Twitter -->
  <a href="https://twitter.com/intent/tweet?button_hashtag=share&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="I just uploaded a recipe to the AAR Recipe Database! Share your own at https://localhost:3000" data-show-count="false">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

</form>
<script type = "text/javascript" src = "/public/recipeInfo.js"></script>